{extends file=$themes}
{block name="tag_body"}
  <body class="blog-page blog-post">
{/block}
{block name="main-content"}
  <br><br>
  <style>
    p {
     text-align="justify";
     margin-left:15px;

    }
    ul li{
      list-style:none;
    }
    .block-text{
      display:block;
      border:5px solid #c4bebe;
      padding:1px 20px 0px 20px;
      width:100%;
      background-color:#ffffff;
    }

    .img-x {
      border:1px solid #c4bebe;
    }
  </style>
  <div class="main-content container" >
    <!-- redaksi mulai -->
    <div class="blog-content-left block-text">
        <p style="margin-left:25%;margin-right:20%;margin-top:2%;font-size:1.5em;"><strong>Anda Memiliki Transaksi Yang Belum Selesaikan Terlebih Dahulu Klik Berikut untuk <a href="{site_url('cart_order/checkout/index')}">Menyelesaikan</a> atau <a href="{site_url('cart_order/cart/kosongkan')}">klik disini</a> untuk membatalkan Mengosongkan Keranjang </strong></p><br><br>
    </div>

    <!-- redaksi mulai -->
  </div>

{/block}
