{extends file=$themes}
{block name="main-content"}
  <!-- About area starts -->
  <section id="about" class="about-area section-big" style="margin-top:10%;">
      <div class="container">
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="panel panel-default">
                  <div class="panel-heading">Panel with panel-primary class</div>
                  <div class="panel-body">
                    <div class="form-group"><label for=""> coba 1</label></div>
                    <div class="form-group"><label for=""> coba 1</label></div>
                    <div class="form-group"><label for=""> coba 1</label></div>
                    <div class="form-group"><label for=""> coba 1</label></div>
                    <div class="form-group"><label for=""> coba 1</label></div>
                    <div class="form-group"><label for=""> coba 1</label></div>
                    <div class="form-group"><label for=""> coba 1</label></div>
                    <div class="form-group"><label for=""> coba 1</label></div>
                    <div class="form-group"><label for=""> coba 1</label></div>
                    <div class="form-group"><label for=""> coba 1</label></div>
                    <div class="form-group"><label for=""> coba 1</label></div>
                    <div class="form-group"><label for=""> coba 1</label></div>

                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>

          </div>

      </div>
  </section>
<!-- About area ends -->
  <!-- <div class="panel panel-primary">
    <div class="panel-heading">Panel with panel-primary class</div>
    <div class="panel-body">Panel Content</div>
  </div> -->
{/block}
{block name="script_js"}

{/block}
