<!DOCTYPE html>
<html lang="en">

<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{$this->site_name}">
    <meta name="keywords" content="business, responsive, multipurpose, onepage, corporate, clean">
    <meta name="author" content="Ambidextrousbd">

    <!-- Site title -->
    <title>{$this->site_name}</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{theme_url('assets/img/favicon.png')}">

    <!-- Bootstrap css -->
    <link href="{theme_url('assets/css/bootstrap.min')}.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Font Awesome css -->
    <link href="{theme_url('assets/css/font-awesome')}.min.css" rel="stylesheet">

    <!-- Normalizer css -->
    <link href="{theme_url('assets/css/normalize.css')}" rel="stylesheet">

    <!-- Owl Carousel css -->
    <link href="{theme_url('assets/css/owl.carousel')}.min.css" rel="stylesheet">
    <link href="{theme_url('assets/css/owl.transitions')}.css" rel="stylesheet">

    <!-- Magnific popup css -->
    <link href="{theme_url('assets/css/magnific-popup')}.css" rel="stylesheet">

    <!-- Site css -->
    <link href="{theme_url('assets/css/style.css')}" rel="stylesheet">

    <!-- Responsive css -->
    <link href="{theme_url('assets/css/responsive.css')}" rel="stylesheet">



    <!-- <link rel="stylesheet" href="assets/css/skin/orange.css" /> -->
    <!-- <link rel="stylesheet" href="assets/css/skin/green.css" /> -->
    <!-- <link rel="stylesheet" href="assets/css/skin/yellow.css" /> -->
    <!-- <link rel="stylesheet" href="assets/css/skin/wood.css" /> -->
    <!-- <link rel="stylesheet" href="assets/css/skin/asbestos.css" /> -->
    <!-- <link rel="stylesheet" href="assets/css/skin/alizarin.css" /> -->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Preloader starts-->
    <div id="preloader"></div>
    <!-- Preloader ends -->


    <!-- Top Bar Starts -->
    <div class="top-bar">
        <div class="container">
            <div class="tmail">Email: info@cbm.com</div>
            <div class="tphone">Telephone: 022 9388-2938-21</div>
            <div class="tsocial">
                <a href=""><i class="fa fa-rss"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-skype"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
    </div>
    <!-- Top Bar Ends -->


    <!-- Navigation area starts -->
    <div class="menu-area navbar-fixed-top">
        <div class="container">
            <div class="row">

                <!-- Navigation starts -->
                <div class="col-md-12">
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="index.html"><img src="{theme_url('assets/img/logo.png')}" alt=""></a>
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse">
                                <nav>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a class="smooth_scroll" href="#slider">HOME</a></li>
                                        <li><a class="smooth_scroll" href="#about">ABOUT</a></li>
                                        <li><a class="smooth_scroll" href="#service">SERVICE</a></li>
                                        <li><a class="smooth_scroll" href="#work">PORTFOLIO</a></li>
                                        <li><a class="smooth_scroll" href="#team">TEAM</a></li>
                                        <li><a class="smooth_scroll" href="#news">NEWS</a></li>
                                        <li><a class="smooth_scroll" href="#contact">CONTACT</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Navigation ends -->

            </div>
        </div>
    </div>
    <!-- Navigation area ends -->



    <!-- Slider area starts -->
    <section id="slider">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">

            <div class="carousel-inner" role="listbox">

                <!-- Item 1 -->
                <div class="item active slide1">
                    <div class="table">
                        <div class="table-cell">
                            <div class="intro-text">
                                <img src="{theme_url('assets/img/big-logo')}.png" alt="">
                                <div class="title clearfix">
                                    <h2>Need to grow <br> your business</h2>
                                    <h1>First</h1>
                                </div>
                                <a href="#" class="btn btn-trnsp btn-big">PURCHASE NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="item slide2">
                    <div class="table">
                        <div class="table-cell">
                            <div class="intro-text">
                                <img src="{theme_url('assets/img/big-logo')}.png" alt="">
                                <div class="title clearfix">
                                    <h2>Need to grow <br> your business</h2>
                                    <h1>First</h1>
                                </div>
                                <a href="#" class="btn btn-trnsp btn-big">PURCHASE NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 3 -->
                <div class="item slide3">
                    <div class="table">
                        <div class="table-cell">
                            <div class="intro-text">
                                <img src="{theme_url('assets/img/big-logo')}.png" alt="">
                                <div class="title clearfix">
                                    <h2>Need to grow <br> your business</h2>
                                    <h1>First</h1>
                                </div>
                                <a href="#" class="btn btn-trnsp btn-big">PURCHASE NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Wrapper for slides-->


            <!-- Carousel Pagination -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>


            <!-- Slider left right button -->
            <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <img src="{theme_url('assets/img/left-arrow')}.png" alt="">
            </a>

            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <img src="{theme_url('assets/img/right-arrow')}.png" alt="">
            </a> -->

        </div>
    </section>
    <!-- Slider area ends -->



    <!-- About area starts -->
    <section id="about" class="about-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>About <span>Us</span></h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- About Image -->
                <div class="col-md-6 about-img">
                    <img src="{theme_url('assets/img/about/about')}.png" alt="">
                </div>

                <!-- About Text -->
                <div class="col-md-6">
                    <div class="about-text">
                        <h3 class="subtitle">We are creative</h3>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this was created for souls like mine.</p>
                        <ul>
                            <li>Anim pariatur cliche reprehenderit.</li>
                            <li>Quis nostrud exercitation ullamco laboris.</li>
                            <li>Morbi accumsan ipsum velit sodales tellus.</li>
                            <li>Locavore pork belly chillwave microdos.</li>
                        </ul>
                        <a href="" class="btn">Read more</a>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- About area ends -->


    <!-- Service area starts -->
    <section id="service" class="service-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Service We <span>Provide</span></h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="home-services">

                    <!-- Service box -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-box">
                            <i class="fa fa-pencil-square-o"></i>
                            <h3 class="subtitle">Sketches</h3>
                            <p>A wonderful serenity has taken possession of my entire which I enjoy with serenity has taken my whole heart.</p>
                        </div>
                    </div>

                    <!-- Service box -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-box">
                            <i class="fa fa-code"></i>
                            <h3 class="subtitle">Web Design</h3>
                            <p>A wonderful serenity has taken possession of my entire which I enjoy with serenity has taken my whole heart.</p>
                        </div>
                    </div>

                    <!-- Service box -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-box">
                            <i class="fa fa-laptop"></i>
                            <h3 class="subtitle">Programming</h3>
                            <p>A wonderful serenity has taken possession of my entire which I enjoy with serenity has taken my whole heart.</p>
                        </div>
                    </div>

                    <!-- Service box -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-box">
                            <i class="fa fa-lightbulb-o"></i>
                            <h3 class="subtitle">Creative Idea</h3>
                            <p>A wonderful serenity has taken possession of my entire which I enjoy with serenity has taken my whole heart.</p>
                        </div>
                    </div>

                    <!-- Service box -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-box">
                            <i class="fa fa-cog"></i>
                            <h3 class="subtitle">Full Customize</h3>
                            <p>A wonderful serenity has taken possession of my entire which I enjoy with serenity has taken my whole heart.</p>
                        </div>
                    </div>

                    <!-- Service box -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-box">
                            <i class="fa fa-share"></i>
                            <h3 class="subtitle">Social Media</h3>
                            <p>A wonderful serenity has taken possession of my entire which I enjoy with serenity has taken my whole heart.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- Service area ends -->


    <!-- Work area starts -->
    <section id="work" class="works section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Our Great <span>Works</span></h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Works filter -->
                <ul class="work filters">
                    <li class="filter" data-filter="all">All</li>
                    <li class="filter" data-filter=".web">Webdesign</li>
                    <li class="filter" data-filter=".dev">Development</li>
                    <li class="filter" data-filter=".brand">Branding</li>
                    <li class="filter" data-filter=".illustrate">Illustration</li>
                </ul>
                <!-- / Works filter -->

            </div>

            <div class="portfolio">
                <div class="row work-items">

                    <!-- work item -->
                    <div class="col-md-4 col-sm-6 mix illustrate web">
                        <div class="item">
                            <a href="{theme_url('assets/img/works/1')}.jpg" class="work-popup">
                                <img src="{theme_url('assets/img/works/1')}.jpg" alt="">
                                <div class="overlay">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- work item -->
                    <div class="col-md-4 col-sm-6 mix dev">
                        <div class="item">
                            <a href="{theme_url('assets/img/works/2')}.jpg" class="work-popup">
                                <img src="{theme_url('assets/img/works/2')}.jpg" alt="">
                                <div class="overlay">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- work item -->
                    <div class="col-md-4 col-sm-6 mix illustrate typography web">
                        <div class="item">
                            <a href="{theme_url('assets/img/works/3')}.jpg" class="work-popup">
                                <img src="{theme_url('assets/img/works/3')}.jpg" alt="">
                                <div class="overlay">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- work item -->
                    <div class="col-md-4 col-sm-6 mix web dev brand">
                        <div class="item">
                            <a href="{theme_url('assets/img/works/4')}.jpg" class="work-popup">
                                <img src="{theme_url('assets/img/works/4')}.jpg" alt="">
                                <div class="overlay">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- work item -->
                    <div class="col-md-4 col-sm-6 mix web illustrate">
                        <div class="item">
                            <a href="{theme_url('assets/img/works/5')}.jpg" class="work-popup">
                                <img src="{theme_url('assets/img/works/5')}.jpg" alt="">
                                <div class="overlay">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- work item -->
                    <div class="col-md-4 col-sm-6 mix dev brand">
                        <div class="item">
                            <a href="{theme_url('assets/img/works/6')}.jpg" class="work-popup">
                                <img src="{theme_url('assets/img/works/6')}.jpg" alt="">
                                <div class="overlay">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- Work area ends -->

    <!-- Team area starts -->
    <section id="team" class="team-area section-big">
        <div class="container">


            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>CLEVER TEAM <span>MEMBERS</span></h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="member-image">
                            <img src="{theme_url('assets/img/team/member')}-1.png" alt="">
                        </div>
                        <div class="member-info">
                            <h3 class="subtitle">Neil Volungis</h3>
                            <p class="text-muted">Co Founder</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-hover">
                            <h3 class="subtitle">Neil Volungis</h3>
                            <p class="text-muted">Co Founder</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="member-image">
                            <img src="{theme_url('assets/img/team/member')}-2.png" alt="">
                        </div>
                        <div class="member-info">
                            <h3 class="subtitle">ARON THOMAS</h3>
                            <p class="text-muted">Managing Director</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-hover">
                            <h3 class="subtitle">ARON THOMAS</h3>
                            <p class="text-muted">Managing Director</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="member-image">
                            <img src="{theme_url('assets/img/team/member')}-3.png" alt="">
                        </div>
                        <div class="member-info">
                            <h3 class="subtitle">CAROL ANDERSON</h3>
                            <p class="text-muted">Designer</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-hover">
                            <h3 class="subtitle">CAROL ANDERSON</h3>
                            <p class="text-muted">Designer</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="member-image">
                            <img src="{theme_url('assets/img/team/member')}-4.png" alt="">
                        </div>
                        <div class="member-info">
                            <h3 class="subtitle">Kristen Craft </h3>
                            <p class="text-muted">Markater</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-hover">
                            <h3 class="subtitle">Kristen Craft </h3>
                            <p class="text-muted">Markater</p>
                            <div class="member-social">
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team area ends -->


    <!-- fun-facts area starts -->
    <section id="fun-facts" class="fun-facts-area section-big">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="fun-fact text-center tab-margin-bottom">
                        <i class="fa fa-thumbs-o-up"></i>
                        <h3><span class="cp-counter">290</span></h3>
                        <p>Projects Completed</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="fun-fact text-center tab-margin-bottom">
                        <i class="fa fa-group"></i>
                        <h3> <span class="cp-counter">550</span></h3>
                        <p>Happy Clients</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="fun-fact text-center">
                        <i class="fa fa-envelope"></i>
                        <h3> <span class="cp-counter">924</span></h3>
                        <p>Mail Conversation</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="fun-fact text-center">
                        <i class="fa fa-file-image-o"></i>
                        <h3> <span class="cp-counter">1656</span></h3>
                        <p>Photos Taken</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fun-facts area ends -->


    <!-- Price area starts -->
    <section id="pricing" class="pricing-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>Pricing <span>Plans</span></h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Pricing Table -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="price-item" data-connectors="1">
                        <div class="info">
                            <p class="level">Basic</p>
                            <p class="price">
                                <span class="number">$ 99</span>
                                <span>/ mon</span>
                            </p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>1x option 1</li>
                                <li>Free option 2</li>
                                <li>Unlimited option 3</li>
                                <li>Unlimited Option 4</li>
                                <li>1x option 5</li>
                            </ul>
                        </div>
                        <a class="btn" href="#">Order Now</a>
                    </div>
                </div>

                <!-- Pricing Table -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="price-item featured" data-connectors="1">
                        <div class="info">
                            <p class="level">Premium Plus</p>
                            <p class="price">
                                <span class="number">$ 299</span>
                                <span>/ mon</span>
                            </p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>1x option 1</li>
                                <li>Free option 2</li>
                                <li>Unlimited option 3</li>
                                <li>Unlimited Option 4</li>
                                <li>1x option 5</li>
                            </ul>
                        </div>
                        <a class="btn" href="#">Order Now</a>
                    </div>
                </div>

                <!-- Pricing Table -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="price-item" data-connectors="1">
                        <div class="info">
                            <p class="level">Premium</p>
                            <p class="price">
                                <span class="number">$ 199</span>
                                <span>/ mon</span>
                            </p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>1x option 1</li>
                                <li>Free option 2</li>
                                <li>Unlimited option 3</li>
                                <li>Unlimited Option 4</li>
                                <li>1x option 5</li>
                            </ul>
                        </div>
                        <a class="btn" href="#">Order Now</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Price area ends -->


    <!-- Testimonial area starts -->
    <section id="testimonial" class="testimonial-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Client <span>Testimonial</span></h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="testimonial-list">

                    <!-- Testimonial item -->
                    <div class="single-testimonial">
                        <img src="{theme_url('assets/img/testimonial/1')}.jpg" alt="">
                        <i class="fa fa-quote-left"></i>
                        <p>Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitarian +1 cliche artisan, biodiesel mixtape tacos art party mustache cardigan kitsch squid disrupt. Truffaut deep v kitsch salvia sriracha. </p>
                        <h4>John Doe</h4>
                        <p class="desg">Founder of Ambidextrousbd</p>
                    </div>

                    <!-- Testimonial item -->
                    <div class="single-testimonial">
                        <img src="{theme_url('assets/img/testimonial/2')}.jpg" alt="">
                        <i class="fa fa-quote-left"></i>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod tempor sunt aliqua put.</p>
                        <h4>John doe</h4>
                        <p class="desg">Designer in Dess</p>
                    </div>

                    <!-- Testimonial item -->
                    <div class="single-testimonial">
                        <img src="{theme_url('assets/img/testimonial/3')}.jpg" alt="">
                        <i class="fa fa-quote-left"></i>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <h4>John doe</h4>
                        <p class="desg">Founder of Ambi</p>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- Testimonial area ends -->


    <!-- News area starts -->
    <section id="news" class="news-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>Our Latest News</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- News item 1 -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-news">
                        <div class="news-image">
                            <a href="#news-modal-1" data-toggle="modal">
                                <img src="{theme_url('assets/img/news/1')}.png" alt="">
                            </a>
                        </div>
                        <div class="news-content">
                            <a href="#news-modal-1" data-toggle="modal">
                                <h3 class="subtitle">Light without hath She'd winged</h3>
                            </a>
                            <p class="news-meta text-muted">
                                <span><i class="fa fa-calendar"></i> 02 Nov 2017 </span>
                                <span><i class="fa fa-user"></i> Admin</span>
                                <span><i class="fa fa-comments-o"></i> 200</span>
                            </p>
                            <p>Light without hath She'd winged Earth forth signs sixth void great together gathering, had creeping. Firmament whales which greater two wherein likeness light behold light that was.</p>
                            <a class="btn" href="#news-modal-1" data-toggle="modal">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- News item 2 -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-news">
                        <div class="news-image">
                            <a href="#news-modal-2" data-toggle="modal">
                                <img src="{theme_url('assets/img/news/2')}.png" alt="">
                            </a>
                        </div>
                        <div class="news-content">
                            <a href="#news-modal-2" data-toggle="modal">
                                <h3 class="subtitle">Firmament whales which have</h3>
                            </a>
                            <p class="news-meta text-muted">
                                <span><i class="fa fa-calendar"></i> 02 Nov 2017 </span>
                                <span><i class="fa fa-user"></i> Admin</span>
                                <span><i class="fa fa-comments-o"></i> 200</span>
                            </p>
                            <p>Light without hath She'd winged Earth forth signs sixth void great together gathering, had creeping. Firmament whales which greater two wherein likeness light behold light that was.</p>
                            <a class="btn" href="#news-modal-2" data-toggle="modal">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- News item 3 -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-news">
                        <div class="news-image">
                            <a href="#news-modal-3" data-toggle="modal">
                                <img src="{theme_url('assets/img/news/3')}.png" alt="">
                            </a>
                        </div>
                        <div class="news-content">
                            <a href="#news-modal-3" data-toggle="modal">
                                <h3 class="subtitle">Winged Earth forth signs void</h3>
                            </a>
                            <p class="news-meta text-muted">
                                <span><i class="fa fa-calendar"></i> 02 Nov 2017 </span>
                                <span><i class="fa fa-user"></i> Admin</span>
                                <span><i class="fa fa-comments-o"></i> 200</span>
                            </p>
                            <p>Light without hath She'd winged Earth forth signs sixth void great together gathering, had creeping. Firmament whales which greater two wherein likeness light behold light that was.</p>
                            <a class="btn" href="#news-modal-3" data-toggle="modal">Read More</a>
                        </div>
                    </div>
                </div>

            </div>



            <!-- News 1 Modals -->
            <div class="news-modal modal fade" id="news-modal-1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">

                                    <img src="{theme_url('assets/img/news/1')}.png" alt="">

                                    <p class="news-meta text-muted">
                                        <span><i class="fa fa-calendar"></i> 02 Nov 2017 </span>
                                        <span><i class="fa fa-user"></i> Admin</span>
                                        <span><i class="fa fa-comments-o"></i> 200</span>
                                    </p>

                                    <h2>Last night we released our latest product</h2>

                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of
                                        the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
                                        that are extremely painful. </p>

                                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                                        a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying
                                        consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand.</p>


                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News 2 Modals -->
            <div class="news-modal modal fade" id="news-modal-2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">

                                    <img src="{theme_url('assets/img/news/2')}.png" alt="">

                                    <p class="news-meta text-muted">
                                        <span><i class="fa fa-calendar"></i> 02 Nov 2017 </span>
                                        <span><i class="fa fa-user"></i> Admin</span>
                                        <span><i class="fa fa-comments-o"></i> 200</span>
                                    </p>

                                    <h2>Last night we released our latest product</h2>

                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of
                                        the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
                                        that are extremely painful. </p>

                                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                                        a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying
                                        consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand.</p>


                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News 3 Modals -->
            <div class="news-modal modal fade" id="news-modal-3" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">

                                    <img src="{theme_url('assets/img/news/3')}.png" alt="">

                                    <p class="news-meta text-muted">
                                        <span><i class="fa fa-calendar"></i> 02 Nov 2017 </span>
                                        <span><i class="fa fa-user"></i> Admin</span>
                                        <span><i class="fa fa-comments-o"></i> 200</span>
                                    </p>

                                    <h2>Last night we released our latest product</h2>

                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of
                                        the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
                                        that are extremely painful. </p>

                                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take
                                        a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying
                                        consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand.</p>


                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- News area ends -->


    <!-- Video area starts -->
    <div id="video" class="video-area section-big">
        <div class="container text-center">

            <div class="video-content">
                <a class="popup-youtube" href="http://www.youtube.com/watch?v=xtZE3sMv6lg">
                    <i class="fa fa-play"></i>
                </a>
                <h2>Watch This Video</h2>
            </div>

        </div>
    </div>
    <!-- Video area ends -->


    <!-- Client area starts -->
    <section id="client" class="client-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>Our Happy <span>Clients</span></h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
            </div>

            <!-- client carousel -->
            <div class="owl-client">

                <!-- item 1 -->
                <div class="item text-center">
                    <img src="{theme_url('assets/img/clients/1')}.png" alt="">
                </div>

                <!-- item 2 -->
                <div class="item text-center">
                    <img src="{theme_url('assets/img/clients/2')}.png" alt="">
                </div>

                <!-- item 3 -->
                <div class="item text-center">
                    <img src="{theme_url('assets/img/clients/3')}.png" alt="">
                </div>

                <!-- item 4 -->
                <div class="item text-center">
                    <img src="{theme_url('assets/img/clients/4')}.png" alt="">
                </div>

                <!-- item 5 -->
                <div class="item text-center">
                    <img src="{theme_url('assets/img/clients/5')}.png" alt="">
                </div>

                <!-- item 6 -->
                <div class="item text-center">
                    <img src="{theme_url('assets/img/clients/6')}.png" alt="">
                </div>

                <!-- item 7 -->
                <div class="item text-center">
                    <img src="{theme_url('assets/img/clients/7')}.png" alt="">
                </div>

            </div>
            <!-- / client carousel -->

        </div>
    </section>
    <!-- Client area ends -->


    <!-- Subscribe area starts -->
    <div id="subscribe" class="subscribe-area section-big">
        <div class="container">
            <div class="subscribe-box">

                <div class="row">

                    <div class="col-md-6">
                        <h2>SING UP FOR <span>NEWSLETTER</span></h2>
                        <p>We'll send email notifications everytime we release new Theme.</p>
                    </div>

                    <div class="col-md-6">
                        <form id="mc-form" class="mc-form">
                            <div class="newsletter-form">

                                <input type="email" autocomplete="off" id="mc-email" placeholder="Email address" class="form-control">

                                <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button>

                                <div class="clearfix"></div>

                                <!-- mailchimp-alerts Start -->
                                <div class="mailchimp-alerts">
                                    <div class="mailchimp-submitting"></div>
                                    <!-- mailchimp-submitting end -->
                                    <div class="mailchimp-success"></div>
                                    <!-- mailchimp-success end -->
                                    <div class="mailchimp-error"></div>
                                    <!-- mailchimp-error end -->
                                </div>
                                <!-- mailchimp-alerts end -->


                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe area ends -->


    <!-- Contact area starts -->
    <section id="contact" class="contact-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>GET IN <span>TOUCH</span></h2>
                        <p>
                            Morbi accumsan ipsum velit sodales tellus odio tincidunt auctor ornare sed mauris vitae erat consequat auctor eu in elit class.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row contact-infos">
                <div class="col-sm-4 col-xs-12">
                    <div class="contact-info">
                        <i class="fa fa-send"></i>
                        <p>
                            <a href="mailto:info@mydomain.com" title="Click to mail">info@mydomain.com</a>
                            <br>
                            <a href="mailto:admin@mydomain.com" title="Click to mail">admin@mydomain.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="contact-info">
                        <i class="fa fa-map-marker"></i>
                        <p>502, Sachber,<br> Berlin, Germany</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="contact-info">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p>
                            <a href="tel:0000" title="Click to Call">+12 - 913 2122</a>
                            <br>
                            <a href="tel:0000" title="Click to Call">+12 - 0131 563</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <!-- Contact form starts -->
                    <div class="contact-form">

                        <!-- Submition status -->
                        <div id="form-messages"></div>

                        <form id="ajax-contact" action="assets/mailer.php" method="post">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group in_name">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Full Name" required="required">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group in_email">
                                        <input type="email" name="email" class="form-control" id="email" placeholder="Email Address" required="required">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group in_email">
                                        <input type="text" name="subject" class="form-control" id="subject" placeholder="Subject" required="required">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group in_message">
                                        <textarea name="message" class="form-control" id="message" placeholder="Your Message" required="required"></textarea>
                                    </div>
                                    <div class="actions">
                                        <input type="submit" value="Contact ME" name="submit" id="submitButton" class="btn" title="Submit Your Message!">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Contact form ends-->
                </div>
            </div>

        </div>
    </section>
    <!-- Contact area ends -->


    <!-- Google Map starts-->
    <div id="contactgoogleMap"></div>
    <!-- Google Map ends -->



    <!-- Footer area starts -->
    <footer class="footer-area">
        <div class="container text-center">
            <img src="{theme_url('assets/img/big-logo')}.png" alt="">
            <p>Locavore pork belly scenester, pinterest chillwave microdosing waistcoat pop-up. Flexitarian +1 cliche artisan, biodiesel mixtape tacos art party mustache cardigan kitsch squid disrupt.</p>
            <ul class="social-links">
                <li><a href=""><i class="fa fa-rss"></i></a></li>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href=""><i class="fa fa-youtube"></i></a></li>
                <li><a href=""><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>
    </footer>
    <!-- Footer area ends -->

    <div class="copyright-text text-center">
        <p>&copy; 2016 Copyright Ambidextrousbd</p>
    </div>




    <!-- Latest jQuery -->
    <script src="{theme_url('assets/js/jquery.min.js')}"></script>

    <!-- Bootstrap js-->
    <script src="{theme_url('assets/js/bootstrap.min.js')}"></script>

    <!-- Owl Carousel js -->
    <script src="{theme_url('assets/js/owl.carousel.min.js')}"></script>

    <!-- Mixitup js -->
    <script src="{theme_url('assets/js/jquery.mixitup.js')}"></script>

    <!-- Magnific popup js -->
    <script src="{theme_url('assets/js/jquery.magnific-popup.min.js')}"></script>

    <!-- Waypoint js -->
    <script src="{theme_url('assets/js/jquery.waypoints.min.js')}"></script>

    <!-- Ajax Mailchimp js -->
    <script src="{theme_url('assets/js/jquery.ajaxchimp.min.js"')}></script>

    <!-- GOOGLE MAP JS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>


    <!-- Main js-->
    <script src="{theme_url('assets/js/main_script.js')}"></script>
</body>

</html>