<div class="col-md-12">

    <style media="screen">
      .outer-box-pembayaran{
        display: block;
        /*border: solid 1px #f4f2f2;*/
        padding: 10px;
        margin: 0px 0px 10px 0px;
      }
      .inner-box-pembayaran{
        /*border: solid 1.5px #f4f2f2;*/
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
      }
      input[type="radio"],input[type="checkbox"]{
        height: 18px;
        width: 15%;
      }
    </style>

        {foreach from=$rekening key=k item=rek}

            {if $rek['status'] == 1}
                {if $total_order >= $rek['minimal_order']}
                  <div class="col-md-3 col-sm-6 col-xs-12 outer-box-pembayaran">
                    <div class="inner-box-pembayaran">
                      <img src="{$url_backend}/assets/img/com_cart/payment_logo/{$rek['logo_text']}" class="img" alt="" height="80px" width="120px"><br>
                      <input type="radio" name="kode_metode_pembayaran" id="kode_metode_pembayaran{$k}" onclick="set_pembayaran({$k})" value="{$rek['kode_metode_pembayaran']}" data-key="{$k+rand(0,100)}"> <strong>{$rek['nama_bank']}</strong>
                    </div>
                  </div>
                {/if}
            {/if}

        {/foreach}

</div>
<script>

var set_pembayaran = function(ids) {
    // cekDataPengirim_raja();
    var kode_metode_pembayaran = $("#kode_metode_pembayaran"+ids).val();
    var kode_key = ids;
    // alert(kode_metode_pembayaran);

    // var ongkir_detail = ongkir + ' (' + kurir + ' ' + kurir_type + ' Tujuan: ' + $("#kota").val() + ')';

    $.post('{site_url("cart_payment/bank_transfer/pilih_pembayaran")}', {
        kode_metode_pembayaran: kode_metode_pembayaran,
        kode_key: kode_key
    }, function(data) {
      var parse = jQuery.parseJSON(data);
      // alert(parse.pesan);
        /*if(parse.kode == '1'){
          alert(parse.pesan);
          $("#kurir_services").html(parse.pesan);
        }else{
          alert(parse.pesan);
          biaya_ongkir(kecamatan_tujuan);
        }*/

    });
}

</script>
