<div class="col-md-12">
    <table class="table table-striped table-bordered">
      <tr>
        {foreach from=$rekening key=k item=rek}
          <th>
            {$rek['nama_bank']}
          </th>
        {/foreach}
      </tr>
      <tr>
        {foreach from=$rekening key=k item=rek}
          <td>
            {$rek['nama_bank']}
          </td>
        {/foreach}
      </tr>
      <tr>
        {foreach from=$rekening key=k item=rek}
          <td>
            <input type="radio" name="kode_metode_pembayaran" id="kode_metode_pembayaran{$k}" onclick="set_pembayaran({$k})" value="{$rek['kode_metode_pembayaran']}" data-key="{$k+rand(0,100)}">
            {$rek['no_rekening']} (<strong>{$rek['atas_nama']}</strong>)
          </td>
        {/foreach}
      </tr>
    </table>
</div>
<script>

var set_pembayaran = function(ids) {
    // cekDataPengirim_raja();
    var kode_metode_pembayaran = $("#kode_metode_pembayaran"+ids).val();
    var kode_key = ids;
    // alert(kode_metode_pembayaran);

    // var ongkir_detail = ongkir + ' (' + kurir + ' ' + kurir_type + ' Tujuan: ' + $("#kota").val() + ')';

    $.post('{$url}/cart_payment/bank_transfer/pilih_pembayaran', {
        kode_metode_pembayaran: kode_metode_pembayaran,
        kode_key: kode_key
    }, function(data) {
      var parse = jQuery.parseJSON(data);
      alert(parse.pesan);
        /*if(parse.kode == '1'){
          alert(parse.pesan);
          $("#kurir_services").html(parse.pesan);
        }else{
          alert(parse.pesan);
          biaya_ongkir(kecamatan_tujuan);
        }*/

    });
}

</script>
