<!DOCTYPE html><!-- saved from url=(0093)http://modular.develop.com/customer/customer/register_sukses/powerhuda@gmail.com/RWH4ZSL8WV76 -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;font-size: 10px;-webkit-tap-highlight-color: rgba(0,0,0,0);">

<head style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">

    <meta name="viewport" content="width=device-width, initial-scale=1" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <title style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">{$site_name}</title>

</head>

<body cz-shortcut-listen="true" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;background-color: #fff;">
        <div class="contact-top" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
            <div class="container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
                <div class="row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
                    
                    <div class="col-md-6" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 80%; margin-left:10%; margin-right:10%;">
                        <div class="box-aktivasi" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;min-height: 350px;height: auto;display: block;margin: 50px 0px 0px 0px;border: 2px solid #b5b5b5;">
                            <div class="box-header" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-size: 14px;padding: 10px 0px 10px 0px;border-bottom: 1px #dbdbdb solid;background-color: #efefef;">
                                <!-- <img src="{base_url()}/admin718/assets/img/logo/logo.png" alt="" width="250px" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;"> -->
                                <h4 style="margin-left:15px;">{$site_name}</h4>
                            </div>
                            <div class="box-body text-left" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: left;margin: 15px 0px 20px 5px;word-wrap: break-word;display: block;width: 100%;padding-right: 5px;">
                                <div class="row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
                                  <div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">
                                    <h5 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;margin-top: 10px;margin-bottom: 10px;font-size: 14px;">Hi {$member['nama_lengkap']},</h5><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">

                                    <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Terima kasih sudah mendaftar di {$site_name}.</p>
                                    <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Silahkan Klik Tombol di Bawah ini untuk mengaktifkan akun {$site_name} anda</p>
                                    <a href="{site_url('customer/activation')}/{$code}" class="btn btn-success" style="margin: 5px 0px 20px 35%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #5cb85c;color: #fff;text-decoration: underline;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;border-color: #4cae4c;">Aktifkan Akun Anda</a><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">

                                    <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Bila tombol diatas tidak berfungsi silahkan,copy dan paste alamat <span class="text-primary" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: #337ab7;">{site_url('customer/activation')}/{$code}</span>  pada alamat browser </p>
                                  </div>
                                  <div class="col-md-12" style="border-top: 1px solid #dbdbdb;padding-top: 10px;margin: 10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">
                                    <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">
                                      Email ini dibuat secara otomatis. Mohon tidak mengirimkan balasan ke email ini.
                                    </p>
                                  </div>


                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

  </body>

</html>
