<!DOCTYPE html>
<!-- saved from url=(0093)http://modular.develop.com/customer/customer/register_sukses/powerhuda@gmail.com/RWH4ZSL8WV76 -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;font-size: 10px;-webkit-tap-highlight-color: rgba(0,0,0,0);">

<head style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">

    <meta name="viewport" content="width=device-width, initial-scale=1" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <title style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">{$title}</title>

</head>

<body cz-shortcut-listen="true" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;background-color: #fff;">
        <div class="contact-top" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
            <div class="container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
                <div class="row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">

                    <div class="col-md-8" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 80%; margin-left:10%; margin-right:10%;">
                        <div class="box-aktivasi" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;min-height: 350px;height: auto;display: block;margin: 50px 0px 0px 0px;border: 2px solid #b5b5b5;">
                            <div class="box-header" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-size: 14px;padding: 10px 0px 10px 0px;border-bottom: 1px #dbdbdb solid;background-color: #efefef;">
                                <!-- <img src="{base_url()}/admin718/assets/img/logo/logo.png" alt="" width="250px" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;"> -->
                                <h4 style="margin-left:15px;">Millenniastore.id</h4>
                            </div>
                            <div class="box-body text-left" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: left;margin: 15px 0px 20px 5px;word-wrap: break-word;display: block;width: 100%;padding-right: 5px;">
                                <div class="row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">

                                  <div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">
                                    <h4 class="text-center" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;margin-top: 10px;margin-bottom: 10px;font-size: 18px;text-align: center;">Terimakasih sudah melakukan konfirmasi pembayaran untuk no Transaksi : <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: 700;">{$detail_order['invoice_no']}</strong> </h4>
                                  </div>

                                </div>
                                <div class="row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
                                  <div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">
                                    <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Saat ini kami akan segera lakukan verifikasi pembayaran paling lambat 2 x 24 jam (hari kerja) dan akan kami informasikan kembali jika pesanan memasuki tahap selanjutnya. </p> <br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                                    <h5 style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;margin-top: 10px;margin-bottom: 10px;font-size: 14px;">Detail Pembayaran</h5><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                                    <table class="table" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border-spacing: 0;border-collapse: collapse!important;background-color: transparent;width: 100%;max-width: 100%;margin-bottom: 20px;">
                                      <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                                        <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;background-color: #fff!important;">Tanggal Pembayaran</td>
                                        <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;background-color: #fff!important;"> : </td>
                                        <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;background-color: #fff!important;">{$log_pembayaran['tgl_bayar']}</td>
                                      </tr>
                                      <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                                        <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;background-color: #fff!important;">Tujuan Pembayaran</td>
                                        <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;background-color: #fff!important;"> : </td>
                                        {foreach from=$metode_pembayaran key=k item=v}
                                          {if $v['kode_metode_pembayaran'] == $log_pembayaran['payment_code']}
                                        <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;background-color: #fff!important;">{$v['nama_bank']} <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: 700;">{$v['no_rekening']}</strong> </td>
                                          {/if}
                                        {/foreach}
                                      </tr>
                                      <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                                        <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;background-color: #fff!important;">Nominal yang ditransfer</td>
                                        <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;background-color: #fff!important;"> : </td>
                                        <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;background-color: #fff!important;">{number_format($log_pembayaran['nominal'],0,",",".")}</td>
                                      </tr>
                                      <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                                        <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;background-color: #fff!important;">Status Transaksi</td>
                                        <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;background-color: #fff!important;"> : </td>
                                        <td class="" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;background-color: #fff!important;">

                                          <span class="btn btn-sm btn-warning" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;padding: 5px 10px;margin-bottom: 0;font-size: 12px;font-weight: 400;line-height: 1.5;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 3px;color: #fff;background-color: #f0ad4e;border-color: #eea236;">{$detail_order['nama']}</span>
                                        </td>
                                      </tr>
                                    </table>

                                  </div>
                                  <!-- <div class="col-md-12" style="border-top:1px solid #dbdbdb; padding-top:10px; margin-right:10px; margin-left:-5px;;">
                                    <div style="background-color:#FBE3E4; text-align:justify; word-wrap:break-word; display:inline-block;">
                                      <p>
                                        Hati-hati terhadap pihak yang mengaku dari Tokopedia, membagikan voucher belanja, atau meminta data pribadi. Tokopedia tidak pernah meminta password dan data pribadi melalui email, pesan pribadi, maupun channel lainnya. Untuk semua email dengan link dari Tokopedia, pastikan alamat URL di browser sudah di alamat tokopedia.com bukan alamat lainnya.
                                      </p>
                                      <p>
                                        Anda juga bisa meningkatkan keamanan akun anda dengan menggunakan Login Seal.
                                        Untuk lebih lanjut, Baca Panduan Keamanan Tokopedia »
                                      </p>
                                    </div>

                                  </div> -->
                                  <!-- <div class="col-md-12" style="background-color:#efefef;">
                                      <div class="col-md-4"></div>
                                      <div class="col-md-4">
                                      </div>
                                      <div class="col-md-4">
                                        <h3 class="pull-right text-success">Millenniastore</h3>
                                      </div>
                                  </div> -->

                                </div>
                                <div class="row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
                                  <div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">
                                    <h4 class="text-center" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;margin-top: 10px;margin-bottom: 10px;font-size: 18px;text-align: center;">Rincian Order</h4>
                                  </div>
                                  <div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">

                                        <table class="table" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border-spacing: 0;border-collapse: collapse!important;background-color: transparent;width: 100%;max-width: 100%;margin-bottom: 20px;">
                                            <thead style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: table-header-group;">
                                                <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                                                    <th class="product-name" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;text-align: left;line-height: 1.42857143;vertical-align: bottom;border-top: 1px solid #ddd;border-bottom: 2px solid #ddd;background-color: #fff!important;">Nama Produk</th>
                                                    <th class="product-price" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;text-align: left;line-height: 1.42857143;vertical-align: bottom;border-top: 1px solid #ddd;border-bottom: 2px solid #ddd;background-color: #fff!important;">Harga</th>
                                                    <th class="product-quantity" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;text-align: left;line-height: 1.42857143;vertical-align: bottom;border-top: 1px solid #ddd;border-bottom: 2px solid #ddd;background-color: #fff!important;">Qty</th>
                                                    <th class="product-subtotal" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;text-align: left;line-height: 1.42857143;vertical-align: bottom;border-top: 1px solid #ddd;border-bottom: 2px solid #ddd;background-color: #fff!important;">Subtotal</th>
                                                </tr>
                                            </thead>
                                            <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                                                {foreach from=$data_order_produk key=k item=p}
                                                <tr class="cart_item" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                                                    <td class="product-name" data-title="Product Name" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;background-color: #fff!important;">
                                                        <a href="{site_url('/detail')}/{$p['product_id']}" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: underline;">{ellipsize($p['nama'],15)}</a>
                                                        <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">SKU: {$p['bara']}
                                                        </p>
                                                        {if count($p['option']) > 0}
                                                        <ul style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-top: 0;margin-bottom: 10px;">
                                                          {foreach from=$p['option'] key=op item=option}
                                                            <li>{$option['name']} : {$option['value']}</li>
                                                          {/foreach}
                                                        </ul>
                                                        {/if}
                                                        <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;"></p>
                                                    </td>
                                                    <td class="product-price" data-title="Unit Price" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;background-color: #fff!important;">
                                                        <span class="amount" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">Rp. {$p['price']}</span>
                                                    </td>
                                                    <td class="product-quantity" data-title="Qty" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;background-color: #fff!important;">
                                                        <div class="quantity buttons_added" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                                                            {$p['quantity']}
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal" data-title="Subtotal" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;background-color: #fff!important;">
                                                        <span class="amount" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">Rp. {$p['total']}</span>
                                                    </td>
                                                </tr>
                                                {/foreach}
                                                {foreach from=$order_total key=ko item=ot}
                                                <tr class="cart-subtotal" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                                                    <th colspan="3" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;text-align: left;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;background-color: #fff!important;">{$ot['nama']}</th>
                                                    <td style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;background-color: #fff!important;"><span class="amount" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">Rp. {number_format($ot['value'],0,",",".")}</span></td>
                                                </tr>
                                                {/foreach}

                                            </tbody>
                                        </table>

                                  </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
                  <div class="col-md-8" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 80%; margin-left:10%; margin-right:10%;">
                      <p class="text-center">Untuk informasi lebih lanjut mengenai pembelian anda, silakan hubungi:</p>
                      <p class="text-center">email: cs@millenniastore.id | phone: 021-29047525</p>
                  </div>
                </div>
            </div>
        </div>
            <br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
            <br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
            <br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
            <br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
            <!-- Untuk informasi lebih lanjut mengenai pembelian anda, silakan hubungi:
email: info@mandira.id | phone: 022-7205033  -->
  </body>

</html>
