<div class="{$size_block}">
      {if $status == '1'}
          {if $voucher !=""}                    <table class="table">
                      <tr>
                        <td>Kode Voucher</td>
                        <td>{$voucher['kode_voucher']}</td>
                      </tr>
                      <tr>
                        <td>Nama Event</td>
                        <td>{$voucher['nama_voucher']}</td>
                      </tr>
                      <tr>
                        <td>Jenis Voucher</td>
                        <td>{$jenis_voucher[$voucher['jenis']]}</td>
                      </tr>
                      <tr>
                        <td>Nilai Voucher</td>
                        <td>{$voucher['nilai_voucher']}</td>
                      </tr>
                      <tr>
                        <td>Nilai Potongan</td>
                        <td>{$voucher['nilai_potongan']}</td>
                      </tr>
                      <tr>
                        <td colspan="2"><a href="{site_url('cart_promo/voucher/hapus_voucher')}" class="btn btn-danger btn-sm">Lepaskan Voucher</a></td>
                      </tr>
                    </table>          {/if}
          {if empty($voucher)}
            {assign var=cfg_disc value=['id'=>'disc_code']}
            {form_open(site_url('cart_promo/voucher/use_voucher'),$cfg_disc)}              <table class="table">                <tr class="">                  <td colspan="2" class="text-center"><strong>Promo Voucher</strong></td>                </tr>                <tr class="">                  <td>Kode Voucher :</td>                  <td>                    <input type="text" name="kode_voucher" id="kode_voucher" placeholder="" value="" class="form-control">                  </td>                </tr>                <tr class="">                  <td colspan="2">                    <a class="btn btn-warning" href="#" onclick="input_voucher()">Apply Coupon</a>                  </td>                </tr>              </table>            {form_close()}
          {/if}
      {/if}
</div>
<script>
  var input_voucher = function(){
    $('#disc_code')[0].submit(function(event) {
      /* Act on the event */
    });
  }
</script>